<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Home</a>
  <a href="#">Users</a>
  <a href="#">Survey</a>
  <a href="#">My Gifts</a>
  </div>

<h2></h2>
<p></p>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
  <div class="container">
    <div class="jumbotron">

      <h1 class=""> Are you having trouble finding a gift for your loved one? </h1>
      <hr>
      <h2 class=""> Look No Further! </h2>
      <h2 class=""> Fill out this simple survery and we can fix all of your problems! </h2>
      <br>
      <div class="">
        <a href="/survey">
          <button type="button" class="btn btn-lg btn-primary">
            <h4><span class="glyphicon glyphicon-list-alt"></span> Find Gift! </h4></button>
        </a>
      </div>
    </div>
    <footer class="footer text-center">
      <div class="container">
        <p><a href="">About Team Impossible Burger</a> | <a href="https://github.com/xproctor90/giveitgiftit">GitHub Repo</a>
          <br> &copy; 2017 Team Impossible Burger</p>
      </div>
    </footer>
  </div>
</body>
