<body>
  <div class="container">
    <div class="jumbotron">

      <h1 class=""> GiveITGiftIT Users </h1>
      <hr>
      <h2 class=""> Recent Gifts! </h2>
      <br>
      <div class="">
        <a href="/survey.html">
          <button type="button" class="btn btn-lg btn-primary">
            <h4><span class="glyphicon glyphicon-list-alt"></span> Find a Gift!</h4></button>
        </a>
      </div>
    </div>
    <footer class="footer text-center">
      <div class="container">
        <p><a href="">About Team Impossible Burger</a> | <a href="https://github.com/xproctor90/giveitgiftit">GitHub Repo</a>
          <br> &copy; 2017 Team Impossible Burger</p>
      </div>
    </footer>
  </div>
</body>