.jumbotron {
	background: #ADFF2F;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
     color: white;
     background-color: rgba(0,0,0,0.3);
     min-width: 800px;
}

.logo {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

body {
	background: #00BFFF;
	font-family: 'Orbitron', sans-serif;
	 background: url('../img/cp.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
   }

}

hr {
	border-color: inherit;
	    margin: 1em 0;
}

footer, h1, h2, h3, h4 {
	color: #F0F8FF;
}

#resultsModal img {
	overflow: hidden;
	width: 500px;
}
/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



